body {
  /* background-image: url('http://www.koreastocknews.com/news/photo/202004/52978_40864_14.jpg'); */
  
  background-image: url('http://img1.mediapen.com/news/202004/news_520375_1587712209_m.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

div {
  background-color: rgba(255, 255, 255, 0.2)   /* 35% opaque white */;
  padding: 0.25em;
}


